In this lab excercise you will learn how to do market basket analysis using apriori algorithm.

Install  __mlxtend__ library from anaconda prompt

In [1]:
#import all required classes for market basket analysis from mlxtedn library
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
#import pandas library 
import pandas as pd

# Example 5

In this example we will read data from csv file

In [2]:
#read data from file
consumer_data=pd.read_csv("D:/mdp iitb/DataForArules.csv")

In [3]:
consumer_data.head(5)

,resid,familysz,chb18,cha18,borvita,milo,zandu,dred,dblue,prtnex,holik,badya,complan
0,1,3,1,0,yes,yes,no,no,no,no,yes,no,no
1,2,6,0,2,no,no,yes,no,yes,no,no,yes,no
2,3,4,1,1,no,no,no,no,no,yes,yes,no,yes
3,4,4,0,2,yes,yes,no,no,no,no,yes,no,no
4,5,3,1,0,yes,yes,no,no,no,no,yes,no,yes

In [4]:
#select only required columns
consumer_data=consumer_data.iloc[:,4:13]

In [5]:
consumer_data.head(5)

  borvita milo zandu dred dblue prtnex holik badya complan
0     yes  yes    no   no    no     no   yes    no      no
1      no   no   yes   no   yes     no    no   yes      no
2      no   no    no   no    no    yes   yes    no     yes
3     yes  yes    no   no    no     no   yes    no      no
4     yes  yes    no   no    no     no   yes    no     yes

In [7]:
#replace yes with True and no with False
consumer_data = consumer_data.applymap(lambda x: True if x == "yes" else False)

In [8]:
consumer_data.head(5)

   borvita   milo  zandu   dred  dblue  prtnex  holik  badya  complan
0     True   True  False  False  False   False   True  False    False
1    False  False   True  False   True   False  False   True    False
2    False  False  False  False  False    True   True  False     True
3     True   True  False  False  False   False   True  False    False
4     True   True  False  False  False   False   True  False     True

In [9]:
#generate frequent itemsets
frequent_itemsets = apriori(consumer_data, min_support=0.3, use_colnames=True)

In [10]:
#generate rules
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [11]:
len(rules)

22

In [12]:
#display rules
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(milo),(borvita),0.450,0.450,0.450,1.000000,2.222222,0.247500,inf
1,(borvita),(milo),0.450,0.450,0.450,1.000000,2.222222,0.247500,inf
2,(borvita),(holik),0.450,0.725,0.450,1.000000,1.379310,0.123750,inf
3,(holik),(borvita),0.725,0.450,0.450,0.620690,1.379310,0.123750,1.450000
4,(milo),(holik),0.450,0.725,0.450,1.000000,1.379310,0.123750,inf
5,(holik),(milo),0.725,0.450,0.450,0.620690,1.379310,0.123750,1.450000
6,(prtnex),(holik),0.350,0.725,0.350,1.000000,1.379310,0.096250,inf
7,(prtnex),(complan),0.350,0.425,0.350,1.000000,2.352941,0.201250,inf
8,(complan),(prtnex),0.425,0.350,0.350,0.823529,2.352941,0.201250,3.683333
9,(holik),(complan),0.725,0.425,0.425,0.586207,1.379310,0.116875,1.389583
10,(complan),(holik),0.425,0.725,0.425,1.000000,1.379310,0.116875,inf
11,"(milo, borvita)",(holik),0.450,0.725,0.450,1.000000,1.379310,0.123750,inf
12,"(milo, holik)",(borvita),0.450,0.450,0.450,1.000000,2.222222,0.247500,inf
13,"(borvita, holik)",(milo),0.450,0.450,0.450,1.000000,2.222222,0.247500,inf
14,(milo),"(borvita, holik)",0.450,0.450,0.450,1.000000,2.222222,0.247500,inf
15,(borvita),"(milo, holik)",0.450,0.450,0.450,1.000000,2.222222,0.247500,inf
16,(holik),"(milo, borvita)",0.725,0.450,0.450,0.620690,1.379310,0.123750,1.450000
17,"(prtnex, holik)",(complan),0.350,0.425,0.350,1.000000,2.352941,0.201250,inf
18,"(prtnex, complan)",(holik),0.350,0.725,0.350,1.000000,1.379310,0.096250,inf
19,"(holik, complan)",(prtnex),0.425,0.350,0.350,0.823529,2.352941,0.201250,3.683333
20,(prtnex),"(holik, complan)",0.350,0.425,0.350,1.000000,2.352941,0.201250,inf
21,(complan),"(prtnex, holik)",0.425,0.350,0.350,0.823529,2.352941,0.201250,3.683333

In [13]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_len"] = rules["consequents"].apply(lambda x: len(x))
rules["total_len"] = rules["antecedent_len"]+rules["consequents_len"]

In [15]:
rules[ (rules['antecedent_len'] > 1) &
       (rules['total_len'] >2) &
       (rules['consequents_len'] ==1)     ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len,total_len
11,"(milo, borvita)",(holik),0.450,0.725,0.45,1.000000,1.379310,0.12375,inf,2,1,3
12,"(milo, holik)",(borvita),0.450,0.450,0.45,1.000000,2.222222,0.24750,inf,2,1,3
13,"(borvita, holik)",(milo),0.450,0.450,0.45,1.000000,2.222222,0.24750,inf,2,1,3
17,"(prtnex, holik)",(complan),0.350,0.425,0.35,1.000000,2.352941,0.20125,inf,2,1,3
18,"(prtnex, complan)",(holik),0.350,0.725,0.35,1.000000,1.379310,0.09625,inf,2,1,3
19,"(holik, complan)",(prtnex),0.425,0.350,0.35,0.823529,2.352941,0.20125,3.683333,2,1,3